h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
    font-size: 40px;
    color: rgb(201, 190, 177);
    flex-direction: row;

} body {
    text-align: center;
    margin: 250px; 
    background-color: pink; 
    
    background-repeat: repeat;
    background-size: 550%;
    height: 200px;
    font-size: 20px;
    flex-direction: row;

}  .flex-container {
    display: flex;
    height: 200px ;
    justify-content: center;
    
}