h1 {
    text-align: center;
    font-family:'Times New Roman', Times, serif ;
    font-size: 40px;
    color: rgb(201, 190, 177);

} body {
    text-align: center;
    margin: 250px; 
    background-image:url(https://cutewallpaper.org/21/8-bit-gif-background/8-Bit-Day-Gif-Hd-Wallpapers-backgrounds-Download-.gif) ; 
    background-repeat: nrepeat;
    background-size: 100%;
    height: 200px;
    font-size: 20px;
}

.controls {

} #control-buttons {
    text-align: center;

}  .flex-container {
    display: flex;
    height: 200px ;
    justify-content: center;
  }